$blue-900: #0B0D17;
$blue-300: #D0D6F9;
$white: #ffffff;
$white-transparent: #ffffff6e;
$grey: #979797;

$font-family-bellefair: 'Bellefair', serif;
$font-family-barlow: 'Barlow', sans-serif;
$font-family-barlow-condensed: 'Barlow-Condensed', sans-serif;

.text-preset-1 {
  font-family: $font-family-bellefair;
  font-size: 144px;
  line-height: 171.9%;
  letter-spacing: 0px;
}
.text-preset-2 {
  font-family: $font-family-bellefair;
  font-size: 100px;
  line-height: 114.6%;
  letter-spacing: 0px;
}
.text-preset-3 {
  font-family: $font-family-bellefair;
  font-size: 56px;
  line-height: 64.2%;
  letter-spacing: 0px;
}
.text-preset-4 {
  font-family: $font-family-bellefair;
  font-size: 32px;
  line-height: 36.7%;
  letter-spacing: 0px;
}
.text-preset-5 {
  font-family: $font-family-barlow-condensed;
  font-size: 28px;
  line-height: 33.6%;
  letter-spacing: 4px;
}
.text-preset-6 {
  font-family: $font-family-bellefair;
  font-size: 28px;
  line-height: 32.1%;
  letter-spacing: 0px;
}
.text-preset-7 {
  font-family: $font-family-barlow-condensed;
  font-size: 14px;
  line-height: 16.8%;
  letter-spacing: 2px;
}
.text-preset-8 {
  font-family: $font-family-barlow-condensed;
  font-size: 16px;
  line-height: 19.2%;
  letter-spacing: 2px;
}
.text-preset-9 {
  font-family: $font-family-barlow;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0px;
}